.container {
    display: flex;
    border: 1px solid black;
    width: 97.8vw;
    min-height: 80vh;
    margin-bottom: 6vh;
    box-sizing: border-box;
}

.editContainer {
    display: flex;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-bottom: none;
    padding: 8px;
    width: 97.8vw;
    margin-top: 3vh;
    gap: 32px;
    box-sizing: border-box;
}


.editContainer button {
    padding: 8px 24px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid black;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.editContainer button:hover {
    background-color: black;
    color: white;
}


.text {
    font-size: 16px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    animation: marquee 35s linear infinite;
}

.imgContainer {
    flex: 0 0 74%;
    position: relative; 
}

.projectImage {
    width: 90%;
    height: 90%;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.detailsContainer  {
    padding: 8px 24px;
    background-color: white;
    color: black;
    border-left: 1px solid black;
    width: 85%;
    display: flex;
    flex-direction: column;
}

.detailsContainer h1 {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}

.detailsContainer h2 {
    font-weight: 600;
    font-size: 18px;
    margin-top: auto;
}

.detailsContainer h3 {
    font-weight: 700;
    font-size: 14px;
    
}

.detailsContainer p {
    font-weight: 500;
    font-size: 12px;
    
}

.stackContainer {
    display: flex;
    align-items: center;
    gap: 6px;
}

.stackContainer button {
    padding: 8px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
    font-size: 12px;
    flex: 0 0 10%;
}

.linkContainer {
    margin-top: auto;
   
}

.linkContainer h4 {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.linkContainer h5 {
    font-size: 12px;
    font-weight: 500;
}


.link {
    margin: -8px -24px;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    cursor: pointer;
    text-decoration: none;
    color: black;
}






@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        height: 98vh;
        width: 96vw;
        margin-bottom: 10vh;
        overflow-y: scroll;
    }

    .editContainer {
        width: 96vw;
    }

    .imgContainer {
        flex: 0 0 45%;
        width: 100%;
    }
    .detailsContainer {
        width: 85%;
        height: 100%;
        border-left: none;
        border-right: none;
    }
}