.container {
    display: flex;
    border: 1px solid black;
    width: 97.8vw;
    min-height: 88vh;
    margin-top: 3vh;
    margin-bottom: 6vh;
    box-sizing: border-box;
}

.imgContainer {
    flex: 0 0 74%;
    position: relative; 
}

.projectImage {
    width: 90%;
    height: 90%;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.detailsContainer  {
    padding: 8px 24px;
    background-color: white;
    color: black;
    border-left: 1px solid black;
    width: 85%;
    display: flex;
    flex-direction: column;
}

.detailsContainer h1 {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}

.detailsContainer h2 {
    font-weight: 600;
    font-size: 18px;
    margin-top: auto;
}

.detailsContainer h3 {
    font-weight: 500;
    font-size: 16px;
    margin-top: auto;
}

.linkContainer {
    margin-top: auto;
   
}

.linkContainer h4 {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.linkContainer h5 {
    font-size: 12px;
    font-weight: 500;
}


.link {
    margin: -8px -24px;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    text-decoration: none;
    color: black;
}

.icon{cursor: pointer;}

.link:last-child {
    border-bottom: none;
}




@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        height: 98vh;
        width: 96vw;
        margin-bottom: 10vh;
        overflow-y: scroll;
        
    }

    .imgContainer {
        flex: 0 0 45%;
        width: 100%;
    }
    .detailsContainer {
        width: 85%;
        height: 100%;
        border-left: none;
        border-right: none;
    }
}