
.container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}


.section {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    height: 75vh;
    overflow-y: scroll;
    border-top: none;
}

.hnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}